* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FEF1D5;
}
.content{
  text-align: center;
  padding: 10px;
  margin: auto;
  font-family: serif;
}
.content h1 {
  text-transform: uppercase;
  color: rgb(238, 105, 16);
}
.content h2 {
  color: black;
}
.results h3 {
  display: block;
  text-align: center;
  margin: auto;
  padding 10px;
  width: 35vh;
  background: #fff;
  color: black;
}
.content button {
  text-decoration: none;
  color: rgb(238, 105, 16);
  border: 1px solid rgb(238, 105, 16);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.content button:hover {
  border: 1px solid #E35707;
  background: rgb(238, 105, 16);
  color: white;
  transition: 1s;
}
