.content{
  text-align: center;
  padding: 10px;
  margin: auto;
  font-family: serif;
}
.content h1 {
    display: block;
    width: 50vh;
    background: #fff;
    text-transform: uppercase;
    color: rgb(238, 105, 16);
}
.content h2 {
  display: block;
  width: 50vh;
  background: transparent;
  color: #fff;
  text-shadow: 1px 1px black;
}
.content h3 {
  display: block;
  padding 10px;
  width: 35vh;
  background: #fff;
  color: black;
}
.content button {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.content button:hover {
  border: 1px solid rgb(238, 105, 16);
  background: rgb(238, 105, 16);
  color: white;
  transition: 1s;
}
