body {
  text-align: center;
  margin: auto;
  padding: 20px;
  font-family: Verdana, sans-serif;
}
h1 {
    display: block;
    background: rgb(238, 105, 16);
    text-transform: uppercase;
    color: #fff;
}
h2 {
    color: black;
}
h3 {
    color:rgb(253, 21, 21);
}
button {
  text-decoration: none;
  color: rgb(238, 105, 16);
  border: 1px solid rgb(238, 105, 16);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.download-btn:hover {
  border: 1px solid rgb(238, 105, 16);
  background: rgb(238, 105, 16);
  color: white;
  transition: 1s;
}
