body {
  text-align: right;
  margin-right: 25vh;
  margin: auto;
  padding: 20px;
  font-family: Verdana, sans-serif;
  min-height: 100vh;
  width: 100%;
  background-image: url(background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
h1 {
    display: block;
    width: 50vh;
    background: #fff;
    text-transform: uppercase;
    color: rgb(238, 105, 16);
}
h2 {
    color: #fff;
    text-shadow: 1px 1px black;
}
h3 {
  display: block;
  width: 35vh;
  background: #fff;
  color: black;
}
button {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
button:hover {
  border: 1px solid rgb(238, 105, 16);
  background: rgb(238, 105, 16);
  color: white;
  transition: 1s;
}
